# Python Comprehension
-> using for loops to make concise lists,dictionaries etc
## 1.List comprehension
* -> [(output expression)for (iter) in (iterable)]
* Lets try to get a list of numbers from 0 to 100 by using a for loop and list comprehension

In [3]:
# using for loop
list1=[]
for x in range(100):
    list1.append(x)

list1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [8]:
# using List Comprehension

[x for x in range(100)]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [10]:
[x**2 for x in range(20)] # returns square of each number from a range of 0 to 20

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

## 2. Tuple comprehension

In [2]:
tuple((x%2 for x in range(15)))# must be turned into a tuple

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

## 3. Set Comprehension

In [3]:
{num%2 for num in range(10)} # only returns unique values

{0, 1}

## 4. Dictionary Comprehension

In [5]:
{num:num%2 for num in range(10)}

{0: 0, 1: 1, 2: 0, 3: 1, 4: 0, 5: 1, 6: 0, 7: 1, 8: 0, 9: 1}

In [9]:
# making dict with names and roles as keys and values
names=['Phil','Jay','Gloria','Luke']
roles=['Dad','Grandad','Wife','Kid']
# using zip function
list(zip(names,roles))
# dictionary comprehension
{name:role for name,role in zip(names,roles)}

{'Phil': 'Dad', 'Jay': 'Grandad', 'Gloria': 'Wife', 'Luke': 'Kid'}

## 5. Comprehension with Conditions

In [13]:
[num for num in range(20) if num%2==0] # only return numbers in a range of 0 to 20 if they are EVEN

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## 6. Application
* using SET comprehension to find seasons an actor was part of

In [33]:
# reading csv 
import csv
csvfile=open("C:/Users/vishn/Desktop/PYTHON/scripts_the_office.csv")
read_csv=csv.reader(csvfile)
# set comprehension
actor_name=input('Enter the name of an actor : ')
seasons=({row[1] for row in read_csv if row[5]==actor_name})
print(actor_name,'appeared in the season/s: ',sorted(seasons)) # using sorted() sorts the variable by ascending order

Jim appeared in the season/s:  ['1', '2', '3', '4', '5', '6', '7', '8', '9']